body {
    
    margin: 0;
       text-align: center;
    /* background-color: whitesmoke ; */
    background-image: url('../images/backg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    

    
}


.container-fluid {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 0%;
}




.greeting {
    padding-top: 1%;
    font-family: 'Average Sans', sans-serif;
   line-height: 1.5;
   
   color: black;
   /* font-weight: bold; */
    
    
}


h1 {
    padding-top: 1%;
    line-height: 2;
    font-size: 3.62rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 4%;
    margin-bottom: 0%;
    /* text-align: left; */
    font-weight: bold;
    
}

a {
    text-decoration: none;
    
}

h2 {
    font-weight: bold;
}

p {
    margin-top: 10px;  
    display: inline-block; */
}

.frontimage {
    width: 55%;
    border-radius: 25px;
    /* border: 2px solid gray; */
    box-shadow: 0 0 100px rgb(186, 186, 190);
    
       }


.header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #F0FF42;
    height: 60px;
    z-index: 1;
}


.middle-container {
   
    /* background-color: whitesmoke; */
}

#footer {
    /* background-color: whitesmoke; */
    padding-top: 1%;
    margin-bottom: 0%;
    font-family: 'Average Sans', sans-serif;
}
.about {
    position: absolute;
    left: 90%;
}



.row {
    padding: 3%; 
}



.carousel-indicators {
    
    margin-left: 30%;
    margin-right: 30%;
}


.carousel-control-next, .carousel-control-prev {
   width: 40%;
}

.carousel-inner {
    width: 100%;
    height: 510px;
    
    
}


.gopratice {
    top: 20%;
}


#skills {
    padding: 0%;
    text-align: center;
    width: 100%
    box-sizing: border-box;
    
}

.card-title {
    font-weight: bold;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


#backVideo {
    position: absolute;
    right:0;
    bottom: 0;
    z-index: -100;
    overflow: hidden;

}

#Contact {
    padding: 20% 20%;
}

h5 {
    margin: 0;
}





.row {
    margin-right: 0;
    padding: 1%;
    padding-bottom: 3%;
}


#projects {
    margin-top: 20px;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Average Sans', sans-serif;
    
}


.container {
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}


.projectimage {
    width: 100%;
    border-radius: 25px;
    /* border: 2px solid gray; */
    box-shadow: 0 0 100px rgb(186, 186, 190);
    
       }



ul {
    list-style: none;
}

.card{
    margin-bottom: 10px;
    width: 100%;
}

h5 {
    margin-top: 3%;
    font-style: italic;
}
